__pycache__/
*.py[cod]
*$py.class

# FOLDER
.vscode/
OLD/
neuralNetwork/

# FILES
camera_calibration.json
roi_2D.json
chessboard.png

#PYTHON FILES
prova_deco.py

# BATCH FILES
*.bat

#yoloR model
yolor/

#ros2 FILES
ros2humb_ws/log/*
ros2humb_ws/build/*
ros2humb_ws/install/*







