<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="antoniobot">

    <ros2_control name="RobotSystem" type="system">

        <xacro:property name="PI" value="3.14159"/>  
        <xacro:macro name="default_joint" params="number minvalue maxvalue">
            <joint name="joint_${number}">
                <command_interface name="position">
                    <param name="min">${minvalue}</param>
                    <param name="max">${maxvalue}</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>
        </xacro:macro>

        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        
        <xacro:default_joint number="1" minvalue="-${PI/2}" maxvalue="${PI/2}"/>
        <xacro:default_joint number="2" minvalue="-${PI/2}" maxvalue="${PI/2}"/>
        <xacro:default_joint number="3" minvalue="-${PI/2}" maxvalue="${PI/2}"/>
        <xacro:default_joint number="4" minvalue="-${PI/2}" maxvalue="${PI/2}"/>
        <xacro:default_joint number="5" minvalue="-${PI/2}" maxvalue="${PI/2}"/>
        
    </ros2_control>
</robot>